.services__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
}
.card.service{
display: flex;
align-items: flex-start;
gap: 1rem;
}
.service__icon{
    background: var(--color-primary);
    padding: .5rem;
    border-radius: var(--border-radius-3);
    font-size: 1.4rem;
    color: var(--color-white);
    transition: var(--transition);
}
.service h4{
    margin-bottom: 0.4rem;
}

@media screen and (max-width:600px){
    .services__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .card.service{
        gap: 1rem;
    }
 }
 @media screen and (max-width:1024px){
    .services__container{
        gap: 1rem;
    }
 }

